* {
    box-sizing: border-box;
    text-align: center;
  }
 
  body {
    margin: 5%;
    background: #777;
  }
  
  header {
    padding: 25px;
    margin-bottom: 25px;
    color: #333;
    background: #ebebeb;
    font-size: 60px;
    color: #777;
  }
  
  section {
  
  }
  .floats{
  width: ;
  text-align: center;
  float:;
  height: 55px;
  color: #777;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 25px;
  height: 125px;
  line-height: 125px;
  
  }
  
  .clear:after{
    content: "";
    clear: both;
    display:table;
  
  }
  
  /* #left {
    background: black;
    
  } */
  
  #middle {
    background: #ebebeb;
    color: #777;
    

  }
  
  /* #right {
    background: black;
  } */
  
  #full {
    background: #ebebeb;
    height: 250px; 
    margin-top: 25px;
    padding: 25px;
    width:50%;
    color: #777;
    float: left;
    /* position: absolute; */
    bottom: 14%;
    margin-bottom: 25px;
    
    
    
  }
  article div{


  }

  #division {
    height: 25px;
    padding: 25px;
    background: #ebebeb;
    color: #777;
    margin: 25px;
    line-height: 1px;

  }

  #division1{
    height: 25px;
    padding: 25px;
    background: #ebebeb;
    color: #777;
    margin: 25px;
    line-height: 1px;
  }
  
  aside {
    float: left;
    margin-left: 35px;
    height: 60px;
    width: 460px;
    padding-top: 25px;
    height: 200px;
    color: #ebebeb;
    background: #777;
  }
  
  footer {
    padding: 20px;
    margin-top: 25px;
    line-height: 50px;
    background: #ebebeb;
    color: #777;
    clear: both;
    

  }

  aside1{
    float: right;
    background: #ebebeb;
    height: 250px; 
    margin-top: 25px;
    padding: 25px;
    width:50%;
    color: #777;
    line-height: 50px;
    
    
  }
  