* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    margin: 5%;
    background: purple;
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    font-size: 60px;
    color: #777;
  }
  
  section {
  
  }
  .floats{
  width: ;
  text-align: center;
  float:;
  height: 55px;
  color: #777;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 20px;
  height: 125px;
  line-height: 125px;
  
  }
  
  .clear:after{
    content: "";
    clear: both;
    display:table;
  
  }
  
  /* #left {
    background: black;
    
  } */
  
  #middle {
    background: green;
    

  }
  
  /* #right {
    background: black;
  } */
  
  #full {
    background: lightgreen;
    height: 250px; 
    margin-top: 25px;
    padding: 25px;
    width:50%;
    color: #777;
    float: left;
    position: absolute;
    bottom: 14%;
    
    
  }
  article div{


  }

  #division {
    height: 25px;
    padding: 25px;
    background: lightgrey;
    color: #777;

  }

  #division1{
    height: 25px;
    padding: 25px;
    background: black;
    color: #777;
  }
  
  aside {
    float: left;
    margin-left: 35px;
    height: 60px;
    width: 460px;
    background: yellow;
    padding-top: 25px;
    height: 200px;
    color: #777;
    line-height:
  }
  
  footer {
    margin-top: 25px;
    height: 50px;
    line-height: 50px;
    background: lightblue;
    color: #777;
  }

  aside1{
    float: right;
    background: green;
    height: 250px; 
    margin-top: 25px;
    padding: 25px;
    width:50%;
    color: #777;
    
  }
  